<header class="pt-4 ">
    <div class="shadow-lg p-3">
        <div class="d-flex justify-content-between">
        <h2 class="text-primary">Meti Store</h2>
        <p class="opacity-50 fs-6">Design Inspritaion</p>
    </div>
   </div>
</header>

