@inherits LayoutComponentBase

<style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
</style>
<div>
    <main style="background-color:#F9FAFB;min-height:100vh;">
            @Body
    </main>
</div>
